---
title: GitLab CI/CD Training
suppress_header: true
description: "GitLab CI/CD Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_cicd" }
    .row
      .col-md-12
        #syllabus
          %h2 Syllabus
          %p.services-text
            %ul
              %li Where is your team today?
              %li What is CI/CD?
              %li GitLab CI/CD Overview
              %li CI/CD Setup, Config
              %li GitLab CI/CD Runners
              %li Q&A
        #resources
          %h2
            Pre-training Resources
          %p.services-text
            These resources act as prerequisites to the training and will help ensure you have a successful training session with the GitLab team.
          %ul
            %li.services-text
              %a{href: 'https://www.youtube.com/watch?v=j16QHjv29A0'} Why you should move to Git
            %li.services-text
              %a{href: 'https://about.gitlab.com/features/gitlab-ci-cd/'} GitLab CI/CD overview
